.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-bottom: 24px;
  border-radius: 5px;
}

.card-trip > img {
  height: 150px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}


.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-trip .card-trip-infos {
  padding: 16px;
  display: grid;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  h2{
  	margin-bottom: 12px;
  }
  p{
  	margin-bottom: 6px;
    color: black;
  }
  a.competition-name{
    text-decoration: none;
    color: black;
  }
  a{
    text-decoration: none;
  }
}

.card-trip-participants{
  margin: 12px;
  h2{
    margin-bottom: 6px;
  }
}

.competition-show{
  // border-bottom: 1px solid;
  // margin-top: 60px;
}

.card-trip-infos .card-trip-edit{
	position: absolute;
	right: 10px;
	top: 10px;
	.btn-edit{
		color: $orange;
	}
  .btn-delete{
    color: $danger;
  }
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.errors-container{
	color: $red;
} 

.btn-competition{
  strong{
    color: $green;
  }
}

 // Smallest device
 @media (min-width: 100px) and (max-width: 575px) {
   .card-trip-infos {
   	grid-template-columns: 1fr;
	   .btn-competition{
				width: 100%;
				margin-top: 6px;
  		}  
   }
 }

 // Small devices (landscape phones, 576px and up)
 @media (min-width: 576px) {
   .card-trip-infos {
     grid-template-columns: 1fr 1%;
     .btn-competition{
     	position: absolute;
     	bottom: 10px;
     	right: 10px;
     	// width: 120px;
     }
   }
 }

 // Medium devices (tablets, 768px and up)
 @media (min-width: 768px) {
   .card-trip-infos {
     grid-template-columns: 1fr 1%;
   }
 }

 // Large devices (desktops, 992px and up)
 @media (min-width: 992px) {
  .card-trip-infos {
    grid-template-columns: 1fr 1%;
   }
 }

 // Extra large devices (large desktops, 1200px and up)
 @media (min-width: 1200px) {
  .card-trip-infos {
    grid-template-columns: 1fr 1%;	 
   }
 }
