.competition-appointment{
	display: flex;
	align-items: center;
	i{
		font-size: 12px;
	}
	a{
		margin-left: 12px;
		margin-right: 8px;
		padding-bottom: 3px;
	}
	.competition-appointment-link{
		text-decoration: none;
		color: black;
		margin-left: 0px;
		margin-right: 0px;
		padding-bottom: 0px;
	}
}

