<!-- Icons edit & delete top -->
<div class="icons-top">
	<% if current_user.admin? %>
		<div class="icon-back">
		<%= link_to users_path, class: "btn btn-back" do %>
			<i class="fas fa-arrow-left"></i>
		<% end %>
		</div>
	<% end %>

	<% if current_user != @user %>
		<div class="impersonate">
			<%= link_to "Impersonate", impersonate_user_path(@user), method: :post %>
		</div>
	<% end %>

	<div class="icon-edit">
	<%= link_to edit_user_path(@user), class: "btn" do %>
	  <i class="fas fa-edit"></i>
	<% end %>
	</div>

	<div class="icon-delete">
		<%= link_to user_path(@user),
		      method: :delete,
		      data: { confirm: "Are you sure you want to delete User ##{@user.id} - #{user_name}?" },
		      class: "btn" do %>
				<i class="fas fa-trash-alt"></i>
		<% end %>
	</div>
</div>