<div class="container">

	<div class="row align-items-center mt-1 bg-white rounded-lg shadow-sm">
    <div class="col-2">
      <%= image_tag "https://kitt.lewagon.com/placeholder/users/cveneziani", class: "avatar-large", alt: "avatar-large" %>
    </div>
    <div class="col-6 py-3">
      <h1><%= @user.first_name %> <%= @user.last_name %></h1>
      <p><%= @user.email %></p>
    	<!-- <p>Product description with <strong>relevant info</strong> only.</p> -->
    </div>
    <div class="col-2 py-3">
    	<p>something</p>
    </div>
    <div class="col-2 py-3 user-admin">
      <% if @user.admin == true %>
      	<h2 class="rounded-lg bg-success">Admin</h2>
      <% else %>
      	<h2 class="rounded-lg bg-secondary">Student</h2>
      <% end %>
    </div>
  </div>
</div>

<br>
