<div class="container">
<div class="footer">
  <div class="footer-links">
    <!-- <a href="#"><i class="fab fa-github"></i></a> -->
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <!-- <a href="#"><i class="fab fa-twitter"></i></a> -->
    <!-- <a href="#"><i class="fab fa-linkedin"></i></a> -->
  </div>
  <br>
  <div class="footer-links">
    <p>Sportschule Koryo</br>
    Weichselstr 8c.</br>
    12043 Berlin</p>
  </div>
  <br>
  <div class="footer-copyright">
    <i class="fas fa-heart"></i> BJJ
  </div>
</div>

<br>
<div class="copyright-bar" align="center">
<span class="copyright">&copy; <%= Date.today.year %> BJJ DOJO BERLIN - <a href="https://bjj-yoga.com" itemprop="url">Impressum</a> - </span> &bull; Powered by <a href="https://bjj-yoga.com" itemprop="url">Follow the Red Fox</a> </div>
<br>
</div>
</div>
