<%# Meta information for the <head> section %>
<%# title @page.title %>
<%# meta_tag :description, @page.description %>
<%# meta_tag :keywords, @page.keywords.join(',') %>


<%#  Actual view content %>

<h2>ÜBER UNS</h2>
<p><%= t 'static_pages.index.beyond-the-gym' %></p>

<h2 style="text-align: left;">Probetraining</h2>
<p>Du kannst dich jetzt kostenlos zum Brazilian Jiu-Jitsu Probetraining anmelden.</p>
<p>... und so kommst du zu uns:</p>
<p>Sportschule Koryo - Ideal Passage<br />
Weichselstr 8c. / Fuldastr. 55-56<br />
12043 Berlin</p>
<p>Anfahrt:<br />
- Bus<br />
--- M29, 194 (Sonnenalle/Pannierstraße), M41 (Sonnenalle/Pannierstraße - Eingang Weichselstr.) oder (Fuldastraße - Eingang Fuldastr.)</p>
<p>- U-Bahn<br />
--- U7 (Rathaus Neukölln), U8 (Hermannplatz)</p>
<p>Wir freuen uns auf dich!</p>

	
</div>