<div class="container">
		<br>
		
			<h1 class="mb-5">Welcome to BJJ Dojo Berlin</h1>	
		<br>
		<br>

			<h2>Already a user?</h2>
			<%= link_to "Login", new_user_session_path, class: "btn btn-lg btn-primary mb-5" %>
		<br>
		<br>

			<h2>Register new user?</h2>
			<%= link_to "Signup", new_user_registration_path, class: "btn btn-lg btn-warning mb-5" %>
		<br>

</div>