.avatar {
  width: 60px;
  border-radius: 50%;
}
.avatar-large {
  width: 100px;
  border-radius: 50%;
}
.avatar-bordered {
  width: 60px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}
.avatar-square {
  width: 60px;
  border-radius: 0px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}

.default-avatar{
  position: relative;
}

.avatar-notice {
  position: absolute;
  z-index: +1;

  p{
    font-size: 10px;
  }
  p:hover{
    color: $blue;
  }
}

.user-avatar{
  width: 70px;
  border-radius: 50%;
  img:hover{
    color: $blue; 
  }
}


 // Smallest device
 @media (min-width: 100px) and (max-width: 575px) {
  .avatar-notice{
    left: 25px;
    top: -15px;
  }
 }

 // Small devices (landscape phones, 576px and up)
 @media (min-width: 576px) {
  .avatar-notice{
    left: 70px;
    top: -5px;
  }
 }

 // Medium devices (tablets, 768px and up)
 @media (min-width: 768px) {
  .avatar-notice{
    left: 80px;
    top: -5px;
  }  
 }

 // Large devices (desktops, 992px and up)
 @media (min-width: 992px) {
  .avatar-notice{
    left: 90px;
    top: -5px;
  } 
 }

 // Extra large devices (large desktops, 1200px and up)
 @media (min-width: 1200px) {
  .avatar-notice{
    left: 90px;
    top: -5px;
  } 
 }


























