.icons-top{
	direction: ltr;
	display: flex;
	justify-content: flex-end;
}

.icon-edit{
	.btn{
		color: $orange;
	}
}

.icon-delete{
	.btn{
		color: $red;
	}
}

.fa-plus-square{
	color: $green;
}

.update-top{
	display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.btn-back{
	color: $blue;
}

.upload-button{
	padding: 3px;
	height: 38px;
	padding-left: 0px;
	padding-right: 0px;
	margin-right: 12px;
}

.btn-password{
	border: solid 1px;
  padding: 6px;
  font-size: 10px;
  text-decoration: none;
  border-radius: 2px;
  color: black;

}

.btn-password:hover{
  background-color: $blue;
  color: white;
  text-decoration: none;
 }

.btn-avatar{
  border: solid 1px;
  padding: 3px;
  font-size: 10px;
}

.btn-avatar:hover{
  background-color: $blue;
  color: white;
}

.add-comment-reference{
	position: relative;
}

.add-comment-card{
	position: absolute;
	right: 6px;
	bottom: 11px;
	display: flex;
	.fa-plus-square{
		font-size: 18px;
	}
}

.btn-promote{
	margin-top: 12px;
}




